@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
  background-color: whitesmoke;
}

.form-Div {
  display: grid !important; 
  grid-template-columns: 1fr;
  gap: 10px;
  text-align: center;
}

.form-button{
  margin-top: 15px;
  align-self: center;
  padding: 2px;
}

.error-field{
  background-color: rgba(255, 1, 1, 0.767);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}

.text-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
